<div [class]="['pageWrapper']">
  <div [class]="['timerWrapper']">
    <div [class]="['time']">
      <div *ngIf="hour < 10">
        0{{hour}}
      </div>
      <div *ngIf="hour >= 10">
        {{hour}}
      </div>
      :
      <div *ngIf="min < 10">
        0{{min}}
      </div>
      <div *ngIf="min >= 10">
        {{min}}
      </div>
      :
      <div *ngIf="sec < 10">
        0{{sec}}
      </div>
      <div *ngIf="sec >= 10">
        {{sec}}
      </div>
    </div>

    <div [class]="['btnWrapper']">
      <input [class]="['btn']" type="button" value="Start" (click)="start()" *ngIf="!flag"/>
      <input [class]="['btn', 'stop']" type="button" value="Stop" (click)="stop()" *ngIf="flag"/>
      <input [class]="['btn']" type="button" value="Wait" (click)="wait()"/>
      <input [class]="['btn']" type="button" value="Reset" (click)="reset()"/>
    </div>
  </div>
</div>
